# Pandas

## Series

**Ejercicio 1:**

Importar pandas

In [1]:
!pip install pandas

import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aroar\appdata\roaming\python\python313\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aroar\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\aroar\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   --------- ------------------------------ 2.6/11.0 MB 19.5 MB/s eta 0:00:01
   --------------------- ------------------ 6.0/11.0 MB 16.9 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/11.0 MB 15.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 12.6 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2

**Ejercicio 2:**

In [3]:
altura_cm = [178, 166, 155, 181, 176, 189, 190, 156]

Crea una serie llamada "altura" en base a la lista anterior utilizando `pd.Series()`

In [4]:
altura = pd.Series(altura_cm)

print(altura)

0    178
1    166
2    155
3    181
4    176
5    189
6    190
7    156
dtype: int64

**Ejercicio 3:**

Inspeccionar los primeros 5 elementos con .head()

In [5]:
print(altura.head())

0    178
1    166
2    155
3    181
4    176
dtype: int64

Inspeccionar los primeros 3 elementos con .head

In [6]:
print(altura.head(3))

0    178
1    166
2    155
dtype: int64

**Ejercicio 4:**

Ordena los valores de la serie "altura". Esto es un paso de la operación, no cambia la "altura" original

In [7]:
altura_ordenada = altura.sort_values()
print(altura_ordenada)

2    155
7    156
1    166
4    176
0    178
3    181
5    189
6    190
dtype: int64

**Ejercicio 5:**

Obtener el valor mínimo en la serie "altura"

In [8]:
minimo = altura.min()
print("Valor mínimo:", minimo)

Valor mínimo: 155

Obtener el valor máximo en la serie "altura"

In [9]:
maximo = altura.max()
print("Valor máximo:", maximo)

Valor máximo: 190

Obtener el valor promedio en la serie "altura"

In [10]:
promedio = altura.mean()
print("Valor promedio:", promedio)

Valor promedio: 173.875

Obtener la suma de la serie "altura"

In [11]:
suma = altura.sum()
print("Suma total:", suma)

Suma total: 1391

**Ejercicio 6:**

Obtener una descripción general de los valores en la serie "altura"

In [12]:
descripcion = altura.describe()
print(descripcion)

count      8.000000
mean     173.875000
std       13.621805
min      155.000000
25%      163.500000
50%      177.000000
75%      183.000000
max      190.000000
dtype: float64

**Ejercicio 7:**

Obtener las alturas que superen los 170 cm en la serie "altura"

In [13]:
alturas_mayores_170 = altura[altura > 170]
print(alturas_mayores_170)

0    178
3    181
4    176
5    189
6    190
dtype: int64

## Dataframes

**Ejercicio 8:**

In [14]:
datos = {"Nombre": ["Erika", "Elías", "Miguel", "Karla", "Gabriela"],
        "Edad": [23, 24, 21, 25, 22],
        "Altura": [173, 194, 165, 154, 176],
        "Peso": [83.2, 65.4, 71.1, 67.9, 71.8]}

Crea un Dataframe llamado "amigos" utilizando el diccionario anterior

In [15]:
amigos = pd.DataFrame(datos)
print(amigos)

     Nombre  Edad  Altura  Peso
0     Erika    23     173  83.2
1     Elías    24     194  65.4
2    Miguel    21     165  71.1
3     Karla    25     154  67.9
4  Gabriela    22     176  71.8

**Ejercicio 9:**

Obtener una descripción general de los datos numéricos en el DataFrame "amigos":

In [16]:
descripcion = amigos.describe()
print(descripcion)

            Edad      Altura       Peso
count   5.000000    5.000000   5.000000
mean   23.000000  172.400000  71.880000
std     1.581139   14.774979   6.829861
min    21.000000  154.000000  65.400000
25%    22.000000  165.000000  67.900000
50%    23.000000  173.000000  71.100000
75%    24.000000  176.000000  71.800000
max    25.000000  194.000000  83.200000

**Ejercicio 10:**

Obtener los datos de los **amigos** con una **edad** menor a 23 años

In [17]:
menores_23 = amigos[amigos["Edad"] < 23]
print(menores_23)

     Nombre  Edad  Altura  Peso
2    Miguel    21     165  71.1
4  Gabriela    22     176  71.8

**Ejercicio 11:**

Importar los datos en el archivo "amigos.xlsx" en un DataFrame llamado "amigos" y muéstralos

In [23]:
!pip install openpyxl

import pandas as pd

amigos = pd.read_excel("./amigos.xlsx")
print(amigos)

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
     Id     Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso
0     1     Sergio      Negrete         Terán    18     163  90.9
1     2       Jean       Vidrio        Piñeda    23     166  61.3
2     3      María        Feria         Núñez    22     185  77.1
3     4    William   Valdovinos         López    22     155  84.6
4     5    Bastian   Richardson  De La Fuente    17     187  87.0
..  ...        ...          ...           ...   ...     ...   ...
95   96  Stephanie         Peña         Rubio    20     188  52.9
96   97     Marvin        Ramón          Ríos    24     167  98.3
97   98    Nicolás        Bravo       Pascual    19     171  76.7
98   99       Lily       Ávalos         Salín    19     168  58.6
99  100     Moises      Navarro       Briones    21     171  55.2

[100 rows x 7 columns]

Mostrar los 5 primeros elementos

In [24]:
print(amigos.head())

   Id   Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso
0   1   Sergio      Negrete         Terán    18     163  90.9
1   2     Jean       Vidrio        Piñeda    23     166  61.3
2   3    María        Feria         Núñez    22     185  77.1
3   4  William   Valdovinos         López    22     155  84.6
4   5  Bastian   Richardson  De La Fuente    17     187  87.0

Cuenta los elementos

In [25]:
cantidad_filas = len(amigos)
print("Número de filas:", cantidad_filas)

Número de filas: 100

**Ejercicio 12:**

Obtener los datos de los amigos con una edad menor a 21 años

In [26]:
menores_21 = amigos[amigos["Edad"] < 21]
print(menores_21)

    Id     Nombre  Apellido Pat  Apellido Mat  Edad  Altura  Peso
0    1     Sergio       Negrete         Terán    18     163  90.9
4    5    Bastian    Richardson  De La Fuente    17     187  87.0
7    8      Jamir       Aguirre      Escobedo    17     169  77.5
11  12   Cristina       Montaño    Richardson    19     156  73.4
12  13     Rafael      Berlanga        Burgos    20     167  56.1
13  14      Elías         Durán        Aburto    17     185  65.0
17  18      Maria      Gallegos        Becker    20     161  87.3
29  30       Alba       Briones          Kaft    19     173  92.8
32  33       Lisa       Márquez         Salas    17     163  93.9
35  36      Simón  De La Fuente        Ibarra    17     190  85.6
37  38     Klever       Fuentes     Villareal    17     171  80.2
41  42     Pamela       Soberón        Ortega    17     172  72.6
42  43   Leopoldo       Infante        Nathal    19     174  62.6
43  44    Claudio        Cetina      Espinoza    20     169  68.4
45  46    Teodoro       Lazcano          Kaft    20     173  94.5
46  47    Esteban       Mendoza       Cervera    20     167  66.6
50  51       Adán      Sandoval        Campos    17     181  61.6
51  52      Diana       Barajas       Fuentes    20     160  68.9
54  55      Elena        Santos      Cisneros    20     160  57.9
55  56   Victoria    Santamaría         Durán    20     187  50.2
56  57       Lara     Fernández          Vera    19     167  55.5
57  58     Eugene      Peñalosa        Llamas    17     172  78.4
62  63    Mildred          Luna       Escobar    19     190  52.7
64  65     Flavio        Campos         Sarti    19     164  76.4
65  66       Paul    Villalobos       Lazcano    20     171  85.6
67  68       Adán       Barajas       Basurto    19     174  93.7
69  70       Luna       Aguilar       Padilla    19     175  78.5
71  72       Hugo         Tovar          Orea    18     189  87.4
72  73    Celeste   Valenciano         Acosta    19     182  62.7
74  75     Demian     Domínguez        Llamas    19     162  74.9
77  78    Arnoldo       Mercado       Lazcano    19     168  91.7
80  81      Johan     Sepúlvedo     Maldonado    20     183  98.8
83  84    Alberto       Barrera     Sifuentes    19     172  92.9
85  86      Clara        Arenas          Vega    19     189  56.0
86  87   Leopoldo        Ocampo          Díaz    18     155  57.1
87  88   Casandra       Verdejo          Cruz    17     171  64.6
89  90       Luna         Ávila          Alva    18     181  72.0
90  91      Lucía       Galindo      Alvarado    18     158  94.8
91  92      Félix        Varela          Rojo    17     169  72.2
94  95     Yasmín       Briones       Vallejo    20     180  86.7
95  96  Stephanie          Peña         Rubio    20     188  52.9
97  98    Nicolás         Bravo       Pascual    19     171  76.7
98  99       Lily        Ávalos         Salín    19     168  58.6

**Ejercicio 13:**

Importar los datos en el archivo "universidad.xlsx" en un DataFrame llamado "universidad"

In [27]:
universidad = pd.read_excel("universidad.xlsx")
print(universidad)

   Num Control              Carrera  Semestre Inscripción  Id Persona
0     SeNeTe01  Lic. en nutriología         7  2015-05-20           1
1     JeViPi02         Ing. química         8  2015-05-02           2
2     MaFeNú03      Lic. en derecho         6  2015-05-09           3
3     WiVaLó04     Ing. en sistemas         2  2016-12-03           4
4     BaRiDe05     Ing. mecatrónica        10  2018-12-01           5
..         ...                  ...       ...         ...         ...
95    StPeRu96  Lic. en nutriología         2  2015-12-15          96
96    MaRaRí97      Lic. en derecho         7  2016-12-28          97
97    NiBrPa98     Ing. mecatrónica         8  2015-05-14          98
98    LiÁvSa99  Lic. en nutriología         4  2016-05-28          99
99   MoNaBr100     Ing. mecatrónica         2  2018-05-11         100

[100 rows x 5 columns]

Muestra los primeros elementos de "universidad"

In [28]:
print(universidad.head(3))

  Num Control              Carrera  Semestre Inscripción  Id Persona
0    SeNeTe01  Lic. en nutriología         7  2015-05-20           1
1    JeViPi02         Ing. química         8  2015-05-02           2
2    MaFeNú03      Lic. en derecho         6  2015-05-09           3

Muestra los primeros elementos de "amigos"

In [29]:
print(amigos.head())

   Id   Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso
0   1   Sergio      Negrete         Terán    18     163  90.9
1   2     Jean       Vidrio        Piñeda    23     166  61.3
2   3    María        Feria         Núñez    22     185  77.1
3   4  William   Valdovinos         López    22     155  84.6
4   5  Bastian   Richardson  De La Fuente    17     187  87.0

**Ejercicio 14:**

Utilizar la función "merge" para unir en una variable "estudiantes" las tablas "amigos" y "universidad" en base a:

- La columna "id" en la tabla "amigos"
- La columna "id Persona" en la tabla "universidad"

In [35]:
estudiantes = pd.merge(amigos, universidad, left_on="Id", right_on="Id Persona")
print(estudiantes)

     Id     Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso Num Control  \
0     1     Sergio      Negrete         Terán    18     163  90.9    SeNeTe01
1     2       Jean       Vidrio        Piñeda    23     166  61.3    JeViPi02
2     3      María        Feria         Núñez    22     185  77.1    MaFeNú03
3     4    William   Valdovinos         López    22     155  84.6    WiVaLó04
4     5    Bastian   Richardson  De La Fuente    17     187  87.0    BaRiDe05
..  ...        ...          ...           ...   ...     ...   ...         ...
95   96  Stephanie         Peña         Rubio    20     188  52.9    StPeRu96
96   97     Marvin        Ramón          Ríos    24     167  98.3    MaRaRí97
97   98    Nicolás        Bravo       Pascual    19     171  76.7    NiBrPa98
98   99       Lily       Ávalos         Salín    19     168  58.6    LiÁvSa99
99  100     Moises      Navarro       Briones    21     171  55.2   MoNaBr100

                Carrera  Semestre Inscripción  Id Persona
0   Lic. en nutriología         7  2015-05-20           1
1          Ing. química         8  2015-05-02           2
2       Lic. en derecho         6  2015-05-09           3
3      Ing. en sistemas         2  2016-12-03           4
4      Ing. mecatrónica        10  2018-12-01           5
..                  ...       ...         ...         ...
95  Lic. en nutriología         2  2015-12-15          96
96      Lic. en derecho         7  2016-12-28          97
97     Ing. mecatrónica         8  2015-05-14          98
98  Lic. en nutriología         4  2016-05-28          99
99     Ing. mecatrónica         2  2018-05-11         100

[100 rows x 12 columns]

Muestra los primeros elementos

In [36]:
print(estudiantes.head())

   Id   Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso Num Control  \
0   1   Sergio      Negrete         Terán    18     163  90.9    SeNeTe01
1   2     Jean       Vidrio        Piñeda    23     166  61.3    JeViPi02
2   3    María        Feria         Núñez    22     185  77.1    MaFeNú03
3   4  William   Valdovinos         López    22     155  84.6    WiVaLó04
4   5  Bastian   Richardson  De La Fuente    17     187  87.0    BaRiDe05

               Carrera  Semestre Inscripción  Id Persona
0  Lic. en nutriología         7  2015-05-20           1
1         Ing. química         8  2015-05-02           2
2      Lic. en derecho         6  2015-05-09           3
3     Ing. en sistemas         2  2016-12-03           4
4     Ing. mecatrónica        10  2018-12-01           5

**Ejercicio 15:**

Cambiar todas las letras a mayúscula en la columna "Num Control" del Dataframe "estudiantes". Verifica que los cambios han sido aplicados en el DataFrame

In [37]:
estudiantes["Num Control"] = estudiantes["Num Control"].str.upper()
print(estudiantes["Num Control"].head())

0    SENETE01
1    JEVIPI02
2    MAFENÚ03
3    WIVALÓ04
4    BARIDE05
Name: Num Control, dtype: object

**Ejercicio 16:**

Cambiar la primera letra de cada palabra a mayúscula en la columna "Carrera" del DataFrame "estudiantes". Verificar que se han cambiado los datos

In [38]:
estudiantes["Carrera"] = estudiantes["Carrera"].str.title()
print(estudiantes["Carrera"].head())

0    Lic. En Nutriología
1           Ing. Química
2        Lic. En Derecho
3       Ing. En Sistemas
4       Ing. Mecatrónica
Name: Carrera, dtype: object

**Ejercicio 17:**

Agrega una columna llamada "Año" que contenga el año en que el estudiante se inscribió a la carrera del DataFrame "estudiantes"

In [39]:
estudiantes["Año"] = 2023
print(estudiantes.head())

   Id   Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso Num Control  \
0   1   Sergio      Negrete         Terán    18     163  90.9    SENETE01
1   2     Jean       Vidrio        Piñeda    23     166  61.3    JEVIPI02
2   3    María        Feria         Núñez    22     185  77.1    MAFENÚ03
3   4  William   Valdovinos         López    22     155  84.6    WIVALÓ04
4   5  Bastian   Richardson  De La Fuente    17     187  87.0    BARIDE05

               Carrera  Semestre Inscripción  Id Persona   Año
0  Lic. En Nutriología         7  2015-05-20           1  2023
1         Ing. Química         8  2015-05-02           2  2023
2      Lic. En Derecho         6  2015-05-09           3  2023
3     Ing. En Sistemas         2  2016-12-03           4  2023
4     Ing. Mecatrónica        10  2018-12-01           5  2023

**Ejercicio 18:**

Agregar una columna llamada "Año" que contenga el año y mes en que el estudiante se inscribió a la carrera del DataFrame "estudiantes"

In [47]:
import numpy as np
print(len(estudiantes))
años = np.random.randint(2019, 2025, size=100)

# Meses entre 1 y 12 para 100 estudiantes
meses = np.random.randint(1, 13, size=100)

# Crear la columna Año con formato "AAAA-MM"
estudiantes["Año"] = [f"{a}-{m:02d}" for a, m in zip(años, meses)]

print(estudiantes["Año"].head())

100
0    2023-04
1    2024-07
2    2019-01
3    2023-07
4    2023-02
Name: Año, dtype: object

**Ejercicio 19:**

Crea un DataFrame llamado "licenciados" que contenga los datos de los estudiantes inscritos a una licenciatura

In [48]:
licenciados = estudiantes[estudiantes["Carrera"].str.contains("Licenciatura", case=False, na=False)]

print(licenciados.head())

Empty DataFrame
Columns: [Id, Nombre, Apellido Pat, Apellido Mat, Edad, Altura, Peso, Num Control, Carrera, Semestre, Inscripción, Id Persona, Año]
Index: []

**Ejercicio 20:**

Contar la cantidad de licenciados inscritos por cada año utilizando groupby

In [49]:
licenciados["Año_Only"] = licenciados["Año"].str[:4]

# Agrupar por año y contar
conteo_por_ano = licenciados.groupby("Año_Only").size()

print(conteo_por_ano)

Series([], dtype: int64)

Dibuja un **gráfico de barras** con estas estadísticas con el **título** "Incripción de Licenciados por Año"

**Ejercicio 21:**

Contar la cantidad de alumnos inscritos en cada año separado por licenciatura utilizando pivot_table

In [56]:
tabla_pivot = licenciados.pivot_table(index='Año', columns='Carrera', aggfunc='size', fill_value=0)
print(tabla_pivot)

Empty DataFrame
Columns: []
Index: []

Dibuja la gráfica con estos números